<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Selection</title>
    <link rel="stylesheet" href="../static/model_selection.css">
</head>

<body>

    <div style="overflow-x:auto;">


        {% if model_details_json %}

        {% for key, value in model_details_json.items() %}
        {% if value.result.status == "incomplete" %}
        <div>Your model with name <b>"{{value.result.model_name}}"</b> is currently TRAINING on...... 
            {{value.result.pretrained_model_name}}</div>
        {% endif %}
        {% endfor %}

        <table>
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Prediction</th>
                    <th>Train Acc</th>
                    <th>Test Acc</th>
                    <th>Model Used</th>
                    <th>Logs</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in model_details_json.items() %}
                {% if value.result.status == "completed" %}


                <tr>
                    <td>{{value.result.model_name}}</td>
                    <td>
                        <form action="/model_selected/{{value.folder}}" method="get">
                            <button>Prediction</button>
                        </form>
                    </td>
                    <td data-label="Train Acc">{{'%.2f' %(value.result.train_acc[-1] )}}%</td>
                    <td data-label="Test Acc">{{'%.2f' %(value.result.test_acc[-1] )}}%</td>
                    <td data-label="Model Used">{{value.result.model_used}}</td>
                    <td>
                        <form action="/logs/{{value.result.dir_name}}" method="get">
                            <button>{{key}}</button>
                        </form>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    <button id="goBackButton">Train Again</button>

    <form action="/to_download_model">
        <button>
            Download Model
        </button>
    </form>

    <script>
        document.getElementById('goBackButton').addEventListener('click', function () {
            // Go back to the previous window
            window.history.back();
        });
    </script>

</body>

</html>