<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Use and Download</title>
    <link rel="stylesheet" href="../static/model_use_type.css">
</head>

<body>

    <div class="container">
        <div class="button-container">
            <form action="/list_models" method="get">
                <button>
                    Use Model
                </button>
            </form>

            <form action="/to_download_model">
                <button>
                    Download Model
                </button>
            </form>
        </div>
    </div>

</body>

</html>